In [0]:
import pandas as pd

In [0]:
colnames = ['country','continent','year','life_exp','population','gdp_per_capita']

In [0]:

df = pd.read_csv("https://raw.githubusercontent.com/chendaniely/pandas_for_everyone/master/data/gapminder.tsv",
                 sep = "\t", na_values = 'n/a',thousands = ',')

In [0]:
df.columns = colnames

In [0]:
df.head()

,country,continent,year,life_exp,population,gdp_per_capita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
1,Afghanistan,Asia,1957,30.332,9240934,820.853030
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
3,Afghanistan,Asia,1967,34.020,11537966,836.197138
4,Afghanistan,Asia,1972,36.088,13079460,739.981106

In [0]:
type(df)

pandas.core.frame.DataFrame

In [0]:
df.shape

(1704, 6)

In [0]:
type(df.columns)

pandas.core.indexes.base.Index

In [0]:
df.dtypes

country            object
continent          object
year                int64
life_exp          float64
population          int64
gdp_per_capita    float64
dtype: object

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         1704 non-null   object
 1   continent       1704 non-null   object
 2   year            1704 non-null   int64
 3   life_exp        1704 non-null   float64
 4   population      1704 non-null   int64
 5   gdp_per_capita  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [0]:
df["country"].tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [0]:
df.country.tail()

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [0]:
subset = df[["year","continent","country"]]

In [0]:
subset.sample(15)

,year,continent,country
737,1977,Asia,Iraq
830,1962,Asia,"Korea, Dem. Rep."
716,1992,Asia,Indonesia
1187,2007,Americas,Panama
1410,1982,Africa,South Africa
160,1972,Africa,Botswana
887,2007,Africa,Lesotho
879,1967,Africa,Lesotho
904,1972,Africa,Libya
1044,1952,Asia,Myanmar
705,1997,Asia,India
20,1992,Europe,Albania
1689,1997,Africa,Zambia
901,1957,Africa,Libya
211,1987,Africa,Burundi

In [0]:
df.loc[150:189,["year","gdp_per_capita"]]

,year,gdp_per_capita
150,1982,4126.613157
151,1987,4314.114757
152,1992,2546.781445
153,1997,4766.355904
154,2002,6018.975239
155,2007,7446.298803
156,1952,851.241141
157,1957,918.232535
158,1962,983.653976
159,1967,1214.709294
160,1972,2263.611114
161,1977,3214.857818
162,1982,4551.142150
163,1987,6205.883850
164,1992,7954.111645
165,1997,8647.142313
166,2002,11003.605080
167,2007,12569.851770
168,1952,2108.944355
169,1957,2487.365989
170,1962,3336.585802
171,1967,3429.864357
172,1972,4985.711467
173,1977,6660.118654
174,1982,7030.835878
175,1987,7807.095818
176,1992,6950.283021
177,1997,7957.980824
178,2002,8131.212843
179,2007,9065.800825
180,1952,2444.286648
181,1957,3008.670727
182,1962,4254.337839
183,1967,5577.002800
184,1972,6597.494398
185,1977,7612.240438
186,1982,8224.191647
187,1987,8239.854824
188,1992,6302.623438
189,1997,5970.388760

In [0]:
df.loc[0]

country           Afghanistan
continent                Asia
year                     1952
life_exp               28.801
population            8425333
gdp_per_capita     779.445314
Name: 0, dtype: object

In [0]:
df.loc[0]

country           Afghanistan
continent                Asia
year                     1952
life_exp               28.801
population            8425333
gdp_per_capita     779.445314
Name: 0, dtype: object

In [0]:
df.iloc[-1]

country             Zimbabwe
continent             Africa
year                    2007
life_exp              43.487
population          12311143
gdp_per_capita    469.709298
Name: 1703, dtype: object

In [0]:
number_of_rows = df.shape[0]
last_index = number_of_rows -1

In [0]:
df.loc[last_index]

country             Zimbabwe
continent             Africa
year                    2007
life_exp              43.487
population          12311143
gdp_per_capita    469.709298
Name: 1703, dtype: object

In [0]:
df.tail()

,country,continent,year,life_exp,population,gdp_per_capita
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [0]:
subset_tail = df.tail(n=1)
subset_tail

,country,continent,year,life_exp,population,gdp_per_capita
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298

In [0]:
type(subset_tail)

pandas.core.frame.DataFrame

In [0]:
subset_loc  = df.loc[last_index]
subset_loc

country             Zimbabwe
continent             Africa
year                    2007
life_exp              43.487
population          12311143
gdp_per_capita    469.709298
Name: 1703, dtype: object

In [0]:
type(subset_loc,)

pandas.core.series.Series

In [0]:
df.loc[[123,45,456]]

,country,continent,year,life_exp,population,gdp_per_capita
123,Benin,Africa,1967,44.885,2427334,1035.831411
45,Angola,Africa,1997,40.963,9875024,2277.140884
456,Egypt,Africa,1952,41.893,22223309,1418.822445

In [0]:
df.iloc[[12,23,56],[0,3,5]]

,country,life_exp,gdp_per_capita
12,Albania,55.230,1601.056136
23,Albania,76.423,5937.029526
56,Argentina,71.868,9308.418710

In [0]:
df.loc[34:56,['life_exp']]

,life_exp
34,70.994
35,72.301
36,30.015
37,31.999
38,34.000
39,35.985
40,37.928
41,39.483
42,39.942
43,39.906
44,40.647
45,40.963
46,41.003
47,42.731
48,62.485
49,64.399
50,65.142
51,65.634
52,67.065
53,68.481
54,69.942
55,70.774
56,71.868

In [0]:
df.loc[56:78,['life_exp','gdp_per_capita','year']]

,life_exp,gdp_per_capita,year
56,71.868,9308.418710,1992
57,73.275,10967.281950,1997
58,74.340,8797.640716,2002
59,75.320,12779.379640,2007
60,69.120,10039.595640,1952
61,70.330,10949.649590,1957
62,70.930,12217.226860,1962
63,71.100,14526.124650,1967
64,71.930,16788.629480,1972
65,73.490,18334.197510,1977
66,74.740,19477.009280,1982
67,76.320,21888.889030,1987
68,77.560,23424.766830,1992
69,78.830,26997.936570,1997
70,80.370,30687.754730,2002
71,81.235,34435.367440,2007
72,66.800,6137.076492,1952
73,67.480,8842.598030,1957
74,69.540,10750.721110,1962
75,70.140,12834.602400,1967
76,70.630,16661.625600,1972
77,72.170,19749.422300,1977
78,73.180,21597.083620,1982

In [0]:
small_set = list(range(0,6,2))
small_set

[0, 2, 4]

In [0]:
subet = df.iloc[small_set,small_set]

In [0]:
subet

,country,year,population
0,Afghanistan,1952,8425333
2,Afghanistan,1962,10267083
4,Afghanistan,1972,13079460

In [0]:
df.iloc[:,0:6:2]

,country,year,population
0,Afghanistan,1952,8425333
1,Afghanistan,1957,9240934
2,Afghanistan,1962,10267083
3,Afghanistan,1967,11537966
4,Afghanistan,1972,13079460
...,...,...,...
1699,Zimbabwe,1987,9216418
1700,Zimbabwe,1992,10704340
1701,Zimbabwe,1997,11404948
1702,Zimbabwe,2002,11926563
1703,Zimbabwe,2007,12311143

In [0]:
df.iloc[:,0::2]

,country,year,population
0,Afghanistan,1952,8425333
1,Afghanistan,1957,9240934
2,Afghanistan,1962,10267083
3,Afghanistan,1967,11537966
4,Afghanistan,1972,13079460
...,...,...,...
1699,Zimbabwe,1987,9216418
1700,Zimbabwe,1992,10704340
1701,Zimbabwe,1997,11404948
1702,Zimbabwe,2002,11926563
1703,Zimbabwe,2007,12311143

In [0]:
df.iloc[:,:6:2]

,country,year,population
0,Afghanistan,1952,8425333
1,Afghanistan,1957,9240934
2,Afghanistan,1962,10267083
3,Afghanistan,1967,11537966
4,Afghanistan,1972,13079460
...,...,...,...
1699,Zimbabwe,1987,9216418
1700,Zimbabwe,1992,10704340
1701,Zimbabwe,1997,11404948
1702,Zimbabwe,2002,11926563
1703,Zimbabwe,2007,12311143

In [0]:
df.iloc[:,::2]

,country,year,population
0,Afghanistan,1952,8425333
1,Afghanistan,1957,9240934
2,Afghanistan,1962,10267083
3,Afghanistan,1967,11537966
4,Afghanistan,1972,13079460
...,...,...,...
1699,Zimbabwe,1987,9216418
1700,Zimbabwe,1992,10704340
1701,Zimbabwe,1997,11404948
1702,Zimbabwe,2002,11926563
1703,Zimbabwe,2007,12311143

In [0]:
df.iloc[::2,::]

,country,continent,year,life_exp,population,gdp_per_capita
0,Afghanistan,Asia,1952,28.801,8425333,779.445314
2,Afghanistan,Asia,1962,31.997,10267083,853.100710
4,Afghanistan,Asia,1972,36.088,13079460,739.981106
6,Afghanistan,Asia,1982,39.854,12881816,978.011439
8,Afghanistan,Asia,1992,41.674,16317921,649.341395
...,...,...,...,...,...,...
1694,Zimbabwe,Africa,1962,52.358,4277736,527.272182
1696,Zimbabwe,Africa,1972,55.635,5861135,799.362176
1698,Zimbabwe,Africa,1982,60.363,7636524,788.855041
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623

In [0]:
df.iloc[[1,100,1000,1100,1240],[0,3,5]]

,country,life_exp,gdp_per_capita
1,Afghanistan,30.332,820.853030
100,Bangladesh,45.252,630.233627
1000,Mongolia,53.754,1421.741975
1100,New Zealand,76.330,18363.324940
1240,Portugal,69.260,9022.247417

In [0]:
df.loc[[12,34,567,23,4,253,1231],['year','country','gdp_per_capita']]

,year,country,gdp_per_capita
12,1952,Albania,1601.056136
34,2002,Algeria,5288.040382
567,1967,Germany,14745.625610
23,2007,Albania,5937.029526
4,1972,Afghanistan,739.981106
253,1957,Central African Republic,1190.844328
1231,1987,Poland,9082.351172

In [0]:
df.sample(23)

,country,continent,year,life_exp,population,gdp_per_capita
141,Bolivia,Americas,1997,62.050,7693188,3326.143191
1529,Thailand,Asia,1977,62.494,44148285,1961.224635
1013,Montenegro,Europe,1977,73.066,560073,9595.929905
365,Cote d'Ivoire,Africa,1977,52.374,7459574,2517.736547
1124,Niger,Africa,1992,47.391,8392818,581.182725
1147,Norway,Europe,1987,75.890,4186147,31540.974800
1011,Montenegro,Europe,1967,67.178,501035,5907.850937
160,Botswana,Africa,1972,56.024,619351,2263.611114
1531,Thailand,Asia,1987,66.084,52910342,2982.653773
793,Japan,Asia,1957,65.500,91563009,4317.694365
1458,Swaziland,Africa,1982,55.561,649901,3895.384018
1064,Namibia,Africa,1992,61.999,1554253,3804.537999
769,Italy,Europe,1957,67.810,49182000,6248.656232
71,Australia,Oceania,2007,81.235,20434176,34435.367440
943,Malaysia,Asia,1987,69.500,16331785,5249.802653
273,Chad,Africa,1997,51.573,7562011,1004.961353
722,Iran,Asia,1962,49.325,22874000,4187.329802
1573,Turkey,Europe,1957,48.079,25670939,2218.754257
120,Benin,Africa,1952,38.223,1738315,1062.752200
1589,Uganda,Africa,1977,50.350,11457758,843.733137
806,Jordan,Asia,1962,48.126,933559,2348.009158
1407,South Africa,Africa,1967,51.927,20997321,7114.477971
930,Malawi,Africa,1982,45.642,6502825,632.803921

In [0]:
df.groupby('continent')['country'].count()

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
Name: country, dtype: int64

In [0]:
df.groupby('year')['life_exp'].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: life_exp, dtype: float64

In [0]:
grouped_year = df.groupby('year')

In [0]:
grouped_year_life_exp = grouped_year['life_exp']

In [0]:
type(grouped_year_life_exp)

pandas.core.groupby.generic.SeriesGroupBy

In [0]:
grouped_year_life_exp.mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: life_exp, dtype: float64

In [0]:

round(df.groupby(['year','continent'])[['life_exp','gdp_per_capita']].mean(),2)

In [0]:
from lets_plot import *
ggplot(round(df.groupby(['year','continent'])[['life_exp','gdp_per_capita']].mean(),2)) +geom_line(aes(x="gdp_per_capita", y="life_exp"))

In [0]:
multi_group = round(df.groupby(['year','continent'])[['life_exp','gdp_per_capita']].mean(),2)

In [0]:
flat = multi_group.reset_index()

In [0]:
flat

,year,continent,life_exp,gdp_per_capita
0,1952,Africa,39.14,1252.57
1,1952,Americas,53.28,4079.06
2,1952,Asia,46.31,5195.48
3,1952,Europe,64.41,5661.06
4,1952,Oceania,69.26,10298.09
5,1957,Africa,41.27,1385.24
6,1957,Americas,55.96,4616.04
7,1957,Asia,49.32,5787.73
8,1957,Europe,66.70,6963.01
9,1957,Oceania,70.30,11598.52
10,1962,Africa,43.32,1598.08
11,1962,Americas,58.40,4901.54
12,1962,Asia,51.56,5729.37
13,1962,Europe,68.54,8365.49
14,1962,Oceania,71.09,12696.45
15,1967,Africa,45.33,2050.36
16,1967,Americas,60.41,5668.25
17,1967,Asia,54.66,5971.17
18,1967,Europe,69.74,10143.82
19,1967,Oceania,71.31,14495.02
20,1972,Africa,47.45,2339.62
21,1972,Americas,62.39,6491.33
22,1972,Asia,57.32,8187.47
23,1972,Europe,70.78,12479.58
24,1972,Oceania,71.91,16417.33
25,1977,Africa,49.58,2585.94
26,1977,Americas,64.39,7352.01
27,1977,Asia,59.61,7791.31
28,1977,Europe,71.94,14283.98
29,1977,Oceania,72.85,17283.96
30,1982,Africa,51.59,2481.59
31,1982,Americas,66.23,7506.74
32,1982,Asia,62.62,7434.14
33,1982,Europe,72.81,15617.90
34,1982,Oceania,74.29,18554.71
35,1987,Africa,53.34,2282.67
36,1987,Americas,68.09,7793.40
37,1987,Asia,64.85,7608.23
38,1987,Europe,73.64,17214.31
39,1987,Oceania,75.32,20448.04
40,1992,Africa,53.63,2281.81
41,1992,Americas,69.57,8044.93
42,1992,Asia,66.54,8639.69
43,1992,Europe,74.44,17061.57
44,1992,Oceania,76.94,20894.05
45,1997,Africa,53.60,2378.76
46,1997,Americas,71.15,8889.30
47,1997,Asia,68.02,9834.09
48,1997,Europe,75.51,19076.78
49,1997,Oceania,78.19,24024.18
50,2002,Africa,53.33,2599.39
51,2002,Americas,72.42,9287.68
52,2002,Asia,69.23,10174.09
53,2002,Europe,76.70,21711.73
54,2002,Oceania,79.74,26938.78
55,2007,Africa,54.81,3089.03
56,2007,Americas,73.61,11003.03
57,2007,Asia,70.73,12473.03
58,2007,Europe,77.65,25054.48
59,2007,Oceania,80.72,29810.19

In [0]:
df.head()

,country,continent,year,life_exp,population,gdp_per_capita
0,Afghanistan,Asia,1952,28.801,8425333,779.44531
1,Afghanistan,Asia,1957,30.332,9240934,820.85303
2,Afghanistan,Asia,1962,31.997,10267083,853.10071
3,Afghanistan,Asia,1967,34.020,11537966,836.19714
4,Afghanistan,Asia,1972,36.088,13079460,739.98111

In [0]:
import random
random.seed(421)
subsetting = df.sample(9)

In [0]:
subsetting

,country,continent,year,life_exp,population,gdp_per_capita
317,Comoros,Africa,1977,50.939,304739,1172.60305
1233,Poland,Europe,1997,72.750,38654957,10159.58368
1626,Uruguay,Americas,1982,70.805,2953997,6920.22305
1308,Saudi Arabia,Asia,1952,39.875,4005677,6459.55482
587,Ghana,Africa,2007,60.022,22873338,1327.60891
1333,Serbia,Europe,1957,61.685,7271135,4981.09089
602,Guatemala,Americas,1962,46.954,4208858,2750.36445
686,Iceland,Europe,1962,73.680,182053,10350.15906
260,Central African Republic,Africa,1992,49.396,3265124,747.90553

In [0]:
subsetting.groupby(['year','continent'])[['population','gdp_per_capita']].mean()

In [0]:
df.groupby('continent')['country'].count()

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
Name: country, dtype: int64

In [0]:
df.groupby('continent')['country'].nunique()

continent
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: country, dtype: int64

In [0]:
df.groupby('continent')['country'].value_counts()

continent  country
Africa     Algeria           12
           Angola            12
           Benin             12
           Botswana          12
           Burkina Faso      12
                             ..
Europe     Switzerland       12
           Turkey            12
           United Kingdom    12
Oceania    Australia         12
           New Zealand       12
Name: country, Length: 142, dtype: int64

In [0]:
df.groupby('year')['life_exp'].mean().plot()